* {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif ;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    margin: auto;
    padding: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 321px;
}

.hero_section h1 {
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
    margin: 0;
}

.hero_section p {
    font-size: 18px;
    font-weight: lighter;
    width: 450px;
    margin: 5px;
}

.hero_section button {
    background-color: #3882F6;
    border-style: none;
    font-size: 18px;
    width: 125px;
    height: 35px;
    border-radius: 8px;
    margin-top: 5px;
}

.hero_picture {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 150px;
    margin-right: 400px;
}

.hero_picture p {
    background-color: grey;
    color: #E5E7EB;
}