* {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif ;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    margin: auto;
    padding: 5px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.hero_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}

.hero_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 321px;
}

.hero_section h1 {
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
    margin: 0;
}

.hero_section p {
    font-size: 18px;
    font-weight: lighter;
    width: 450px;
    margin: 5px;
}

.hero_section button {
    background-color: #3882F6;
    border-style: none;
    font-size: 18px;
    width: 125px;
    height: 35px;
    border-radius: 8px;
    margin-top: 5px;
}

.hero_picture {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 150px;
    margin-right: 400px;
}

.hero_picture p {
    background-color: grey;
    color: #E5E7EB;
}

.random {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    background-color: white;
    margin-top: 50px;
}

.container {
    display: flex;
    gap: 65px;
    background-color: white;
}

.four {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.box {
    border: 5px solid #3882F6;
    height: 170px;
    width: 170px;
    border-radius: 15px;
    background-color: white;
}

.text {
    color: #1F2937;
    background-color: white;
    width: 150px;
    text-align: center;
}

.text p {
    background-color: white;
    color: #1F2937;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.message {
    background-color: #E5E7EB;
    margin-bottom: 0;

}

.message p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    background-color: #E5E7EB;
    width: 830px;
}

.author {
    background-color: #E5E7EB;
    margin-top: -44px;
}

.author p {
    font-size: 25px;
    font-weight: bolder;
    color: #1F2937;
    background-color: #E5E7EB;
    margin-left: 600px;
}

.callToAction {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blue {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    gap: 350px;
    padding: 50px 300px;
    border-radius: 10px;
}

.action {
    background-color: #3882F6;
}

.action p {
    background-color: #3882F6;
    margin: 0;
}

.bold {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

.over {
    color: #E5E7EB;
    padding-top: 5px;
    font-size: 15px;
}

.up {
    border: 2px solid white;
    background-color: #3882F6;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bolder;
}